@charset "UTF-8";
@font-face {
  font-family: 'PT Mono';
  font-style: normal;
  font-weight: 400;
  src: local('PT Mono'), local('PTMono-Regular'), url(https://themes.googleusercontent.com/static/fonts/ptmono/v2/jmle3kzCPnW8O7_gZGRDlQ.woff) format('woff');
}
html, body {
    min-width: 100%;
    height: 100%;
    min-height: 100%;
}
body {
  background-repeat: no-repeat;
  background-image: url("assets/lgf01a201309021800.png");
  background-size: cover;
}
div.box{
  position: absolute;
  width: 72px;
  height: 72px;
}
section.view_box{
  position: relative;
  top: calc(50% - 89px);
  width: inherit;
  display: flex;
  display: -moz-flex;
  display: -o-flex;
  display: -webkit-flex;
  display: -ms-flex;
  flex-direction: column;
  -moz-flex-direction: column;
  -o-flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  align-items: center;

}
section.box{
  width: 80px;
  height:80px; 
}
section.background{
  width: 100%;
  height: 100%;
  display: block;
  text-align: center;
  vertical-align: middle;
}
#time{
  font-size: 60px;
}
#am_pm{
  font-size: 40px;
}
.meta {
  font-size: 35px;
  color:white;
  margin-right: 15px;
}
.monospace{
  font-family:"PT Mono","IPAexƒSƒVƒbƒN","IPAƒSƒVƒbƒN",'Lucida Grande','Hiragino Kaku Gothic ProN', 'ƒqƒ‰ƒMƒmŠpƒS ProN W3',Meiryo,ƒƒCƒŠƒI, sans-serif;
}
.gosick{
  font-family:"IPAexƒSƒVƒbƒN","IPAƒSƒVƒbƒN","ŸàƒSƒVƒbƒN", 'Lucida Grande','Hiragino Kaku Gothic ProN', 'ƒqƒ‰ƒMƒmŠpƒS ProN W3',Meiryo,ƒƒCƒŠƒI, sans-serif;
}
.pic img{
  width: 50px;
  height: 50px;
}
.white {
  color: white;
}

.container1{
  display: inline-block;
  margin: 0px auto;
}
.inner_container1{
  width: 250px;
  display: flex;
  display: -moz-flex;
  display: -o-flex;
  display: -webkit-flex;
  display: -ms-flex;
  flex-direction: row;
  -moz-flex-direction: row;
  -o-flex-direction: row;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}
.container2{
  display: inline-block;
  margin: 0px auto;
}
.inner_container2{
  display: flex;
  display: -moz-flex;
  display: -o-flex;
  display: -webkit-flex;
  display: -ms-flex;
  flex-direction: row;
  -moz-flex-direction: row;
  -o-flex-direction: row;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}
.container3{
  display: inline-block;
  margin: 0px auto;
  margin-top: 20px;
}
.inner_container3{
  width: 120px;
  display: flex;
  display: -moz-flex;
  display: -o-flex;
  display: -webkit-flex;
  display: -ms-flex;
  flex-direction: row;
  -moz-flex-direction: row;
  -o-flex-direction: row;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}
.tool  {
  transform:translateY(20px);
  -o-transform:translateY(20px);
  -moz-transform:translateY(20px);
  -webkit-transform:translateY(20px);
  opacity: 0;
  transition: all 1s ease 0;
  -o-transition: all 1s ease 0;
  -moz-transition: all 1s ease 0;
  -webkit-transition: all 1s ease 0;
}
.tool.show {
  opacity: 1;
  transform:translateY(0);
  -o-transform:translateY(0);
  -moz-transform:translateY(0);
  -webkit-transform:translateY(0);
}